permit-backend/dist/
permit-backend/data/*
permit-frontend/dist/

# Ignore package-lock.json files
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/
out/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.DS_Store
Thumbs.db
